<template>
    <div id="app">
		<div v-for="pin in pins" @click="toggle(pin)" 
			:class="{active: pin.isOn, inactive: !pin.isOn}"
			:key="pin.gpio"
			class="relay"
		>
			{{pin.name}} - 
			{{pin.gpio}}
		</div>
    </div>
</template>

<script>
const base = 'http://192.168.255.239'

export default {
	name: "app",
	data: () => ({
		pins: [],
	}),
	async created() {
		let response = await fetch(`${base}/pins`)
		this.pins = await response.json()
	},
	methods: {
		toggle(pin) {
			pin.isOn = !pin.isOn
			let status = pin.isOn ? 'on' : 'off'
			fetch(`${base}/${pin.gpio}/${status}`)
			// pin.
		}
	}
}
</script>

<style lang="stylus">
#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	margin-top: 60px;
}

.active {
	background-color: green
}

.inactive {
	background-color: #ef1301
}

.relay {
	color: white;
	padding: .5em
	margin: .5em
	
}

</style>
